modules/gestione-pagamenti/gestione-pagamenti-mypay-integration/xsd/marcaDaBollo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="CodiceFiscale" type="xs:int"/>
  <xs:element name="Denominazione" type="xs:string"/>
  <xs:element name="DigestMethod">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:anyURI" name="Algorithm"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mar:CodiceFiscale" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="mar:Denominazione" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUBD" type="xs:long"/>
  <xs:element name="OraAcquisto" type="xs:dateTime"/>
  <xs:element name="Importo" type="xs:float"/>
  <xs:element name="TipoBollo" type="xs:byte"/>
  <xs:element name="ImprontaDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mar:DigestMethod" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="xd:DigestValue" xmlns:xd="http://www.w3.org/2000/09/xmldsig#"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marcaDaBollo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mar:PSP" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="mar:IUBD" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="mar:OraAcquisto" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="mar:Importo" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="mar:TipoBollo" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="mar:ImprontaDocumento" xmlns:mar="http://www.agenziaentrate.gov.it/2014/MarcaDaBollo"/>
        <xs:element ref="xd:Signature" xmlns:xd="http://www.w3.org/2000/09/xmldsig#"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>