modules/servizi-digitali-common/servizi-digitali-backoffice-integration/xsd/protocollo/DestinatarioType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://types.protocollo.osapulie.it" targetNamespace="http://types.protocollo.osapulie.it"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="PersonaFisicaType.xsd"/>
	<xs:complexType name="Destinatario">
		<xs:sequence>
			<xs:element name="areaOrganizzativaOmogenea" type="xs:string" />
			<xs:element name="personaFisica" type="tns:PersonaFisica" />
			<xs:element name="amministrazione" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>