modules/servizi-digitali-common/servizi-digitali-backoffice-integration/xsd/protocollo/DettaglioProtocollo-richiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://types.protocollo.osapulie.it" targetNamespace="http://types.protocollo.osapulie.it"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="dettaglioProtocolloRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="numeroProtocollo" type="xs:long" />
				<xs:element name="anno" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>