modules/servizi-digitali-common/servizi-digitali-backoffice-integration/wsdl/servizionline.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ws.servizionline.linksmt.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
	xmlns:sp13="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200802"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:tns="http://ws.servizionline.linksmt.it" targetNamespace="http://ws.servizionline.linksmt.it">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.servizionline.linksmt.it">
			<xs:element name="PayloadXmlRequest">
				<xs:annotation>
					<xs:documentation>XML di richiesta</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nome_servizio" type="xs:string" />
						<xs:element name="xml" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="PayloadXmlResponse">
				<xs:annotation>
					<xs:documentation>XML di risposta</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="xml" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PayloadXmlResponse">
		<wsdl:part element="tns:PayloadXmlResponse" name="PayloadXmlResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="PayloadXmlRequest">
		<wsdl:part element="tns:PayloadXmlRequest" name="PayloadXmlRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiziOnlinePort">
		<wsdl:operation name="PayloadXml">
			<wsdl:input message="tns:PayloadXmlRequest" name="PayloadXmlRequest">
			</wsdl:input>
			<wsdl:output message="tns:PayloadXmlResponse" name="PayloadXmlResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsp:Policy wsu:Id="UserNameTokenPasswordTextOverSSL">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy>
									</wsp:Policy>
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SupportingTokens>
					<wsp:Policy>
						<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10 />
								<sp13:Created />
								<sp13:Nonce />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:binding name="ServiziOnlinePortSoap11" type="tns:ServiziOnlinePort">
		<wsp:PolicyReference URI="UserNameTokenPasswordTextOverSSL" />
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PayloadXml">
			<soap:operation soapAction="" />
			<wsdl:input name="PayloadXmlRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="PayloadXmlResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiziOnlinePortService">
		<wsdl:port binding="tns:ServiziOnlinePortSoap11" name="ServiziOnlinePortSoap11">
			<soap:address location="http://localhost:8088/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>